%section#portfolio.page-section.bg-light
  .container
    .text-center
      %h2.section-heading.text-uppercase Portfolio
      %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-lg-4.col-sm-6.mb-4
        / Portfolio item 1
        .portfolio-item
          %a.portfolio-link{"data-bs-toggle" => "modal", :href => "#portfolioModal1"}
            .portfolio-hover
              .portfolio-hover-content
                %svg.svg-inline--fa.fa-plus.fa-w-14.fa-3x{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "plus", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z", :fill => "currentColor"}
                / <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/1.jpg"}/
          .portfolio-caption
            .portfolio-caption-heading Threads
            .portfolio-caption-subheading.text-muted Illustration
      .col-lg-4.col-sm-6.mb-4
        / Portfolio item 2
        .portfolio-item
          %a.portfolio-link{"data-bs-toggle" => "modal", :href => "#portfolioModal2"}
            .portfolio-hover
              .portfolio-hover-content
                %svg.svg-inline--fa.fa-plus.fa-w-14.fa-3x{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "plus", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z", :fill => "currentColor"}
                / <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/2.jpg"}/
          .portfolio-caption
            .portfolio-caption-heading Explore
            .portfolio-caption-subheading.text-muted Graphic Design
      .col-lg-4.col-sm-6.mb-4
        / Portfolio item 3
        .portfolio-item
          %a.portfolio-link{"data-bs-toggle" => "modal", :href => "#portfolioModal3"}
            .portfolio-hover
              .portfolio-hover-content
                %svg.svg-inline--fa.fa-plus.fa-w-14.fa-3x{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "plus", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z", :fill => "currentColor"}
                / <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/3.jpg"}/
          .portfolio-caption
            .portfolio-caption-heading Finish
            .portfolio-caption-subheading.text-muted Identity
      .col-lg-4.col-sm-6.mb-4.mb-lg-0
        / Portfolio item 4
        .portfolio-item
          %a.portfolio-link{"data-bs-toggle" => "modal", :href => "#portfolioModal4"}
            .portfolio-hover
              .portfolio-hover-content
                %svg.svg-inline--fa.fa-plus.fa-w-14.fa-3x{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "plus", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z", :fill => "currentColor"}
                / <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/4.jpg"}/
          .portfolio-caption
            .portfolio-caption-heading Lines
            .portfolio-caption-subheading.text-muted Branding
      .col-lg-4.col-sm-6.mb-4.mb-sm-0
        / Portfolio item 5
        .portfolio-item
          %a.portfolio-link{"data-bs-toggle" => "modal", :href => "#portfolioModal5"}
            .portfolio-hover
              .portfolio-hover-content
                %svg.svg-inline--fa.fa-plus.fa-w-14.fa-3x{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "plus", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z", :fill => "currentColor"}
                / <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/5.jpg"}/
          .portfolio-caption
            .portfolio-caption-heading Southwest
            .portfolio-caption-subheading.text-muted Website Design
      .col-lg-4.col-sm-6
        / Portfolio item 6
        .portfolio-item
          %a.portfolio-link{"data-bs-toggle" => "modal", :href => "#portfolioModal6"}
            .portfolio-hover
              .portfolio-hover-content
                %svg.svg-inline--fa.fa-plus.fa-w-14.fa-3x{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "plus", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z", :fill => "currentColor"}
                / <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/6.jpg"}/
          .portfolio-caption
            .portfolio-caption-heading Window
            .portfolio-caption-subheading.text-muted Photography