%footer.footer.py-4
  .container
    .row.align-items-center
      .col-lg-4.text-lg-start Copyright © Your Website 2022
      .col-lg-4.my-3.my-lg-0

      .col-lg-4.text-lg-end
        %a.link-dark.text-decoration-none.me-3{:href => "#!"} Privacy Policy
        %a.link-dark.text-decoration-none{:href => "#!"} Terms of Use